---
title: Welcome to Middleman
---

      <%= partial "partials/nav" %>

    <div class="container-fluid p-0">

      <%= partial "partials/about" %>
      <%= partial "partials/experience" %>
      <%= partial "partials/education" %>
      <%= partial "partials/skills" %>
      <%= partial "partials/interests" %>
      <%= partial "partials/awards" %>


    </div>
      <%= partial "partials/js" %>

